<script src="abcjs-basic-min.js"></script>
<link rel="stylesheet" href="abcjs-audio.css" />
<style>#audio {min-width: 300px;width: 95%}</style>
<details><summary>ABC-Notation</summary>
<textarea name="abc" id="abc" cols="80" rows="15">
X: 1
T: Cooley's
M: 4/4
L: 1/8
R: reel
K: Emin
|:D2|EB{c}BA B2 EB|~B2 AB dBAG|FDAD BDAD|FDAD dAFD|
EBBA B2 EB|B2 AB defg|afe^c dBAF|DEFD E2:|
|:gf|eB B2 efge|eB B2 gedB|A2 FA DAFA|A2 FA defg|
eB B2 eBgB|eB B2 defg|afe^c dBAF|DEFD E2:|
</textarea>
</details>
<div id="paper" class="paper"></div>
<div id="audio"></div>
<script>function selectionCallback(abcelem) {
    var note = {};
    for (var key in abcelem) {
      if (abcelem.hasOwnProperty(key) && key !== "abselem")
        note[key] = abcelem[key];
    }
    console.log(abcelem);
    var el = document.getElementById("selection");
    el.innerHTML = "<b>selectionCallback parameter:</b><br>" + JSON.stringify(note);
  }
  
  function initEditor() {
    new ABCJS.Editor("abc", { paper_id: "paper",
      synth: {
        el: "#audio",
        options: { displayLoop: true, displayRestart: true, displayPlay: true, displayProgress: true, displayWarp: true }
      },
      generate_warnings: true,
      warnings_id:"warnings",
      abcjsParams: {
        generateDownload: true,
        clickListener: selectionCallback
      }
    });
  }
  window.addEventListener("load", initEditor, false);</script>